<h1><%=@section.title%></h1>

<% if @section.lessons.any? %>
  <h4>Here are the lessons for this section:</h4>

  <ul>
    <% @section.lessons.each do |lesson| %>
      <li>
        <%= link_to lesson.title, section_lesson_path(lesson) %>
      </li>

    <% end %>
  </ul>
<% else %>
  <p>There are no sightings yet!</p>
<% end %>

<p><%= link_to "Edit Section", edit_chapter_section_path(@section) %></p>
<p><%= link_to "Delete", section_path(@section),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to chapter", chapter_path(@section.chapter) %></p>
