<h1><%= @lesson.section.title %></h1>
<h1><%= @lesson.title %></h1>
<h1><%= @lesson.day %></h1>
<p><%= @lesson.text %></p>

<p><%= link_to "Edit Lesson", edit_section_lesson_path(@lesson) %></p>
<p><%= link_to "Delete", section_lesson_path(@lesson),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to section", section_path(@lesson.section) %></p>
